METRICS_PORT={{ nim_waku_sonda_metrics_port }}
NODE_REST_ADDRESS='{{ nim_waku_node_rest_address }}'
CLUSTER_ID={{ nim_waku_cluster_id | mandatory }}
SHARD={{ nim_waku_pubsub_topics | mandatory | first | split('/') | last }}
# Comma separated list of store nodes to poll
STORE_NODES='{{ sonda_store_nodes }}'
# Wait time in seconds between two consecutive queries
QUERY_DELAY={{ nim_waku_sonda_query_delay }}
# Consecutive successful store requests to consider a store node healthy
HEALTH_THRESHOLD={{ nim_waku_sonda_health_threshold }}